@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
body {
background-color: white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:;
}
li, a {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:#24252A ;
}
header h2 {
    color: white;
    margin-right: auto;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0,3s ease 0s;
}
.nav-links li a :hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 91, 114, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button :hover {
    background-color: rgba(0, 59, 73, 0.8);
}
main button{
    margin-left: 15.5rem;
    margin-right: 27px;
    margin-top: 50px;
}
.button10 {
    margin-left: auto;
}
.box{
    background-color: #323542;
    width: 100%;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: "montserrat", sans-serif;
}
.box-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
main {
    clear: both;
    display: block;
    padding: 10px 60px;

}
main h1 {
    padding-top: 2%;
    padding-left: 16.3rem;
    font-family: "montserrat", sans-serif;
}
article {
    width: 70%;
    float: left;
    padding: 20px;
    font-family: "montserrat", sans-serif;
}
article h2 {
    padding-bottom: 10px;
}

aside {
    border: 1px solid;
    height: 100%;
    width: 25%;
    margin-top: -70px;
    margin-right: 10px;
    padding: 46px;
    padding-right: 35px;
    text-align: center;
    float: right;
    font-family: "montserrat", sans-serif;
    background-color: #d3d1d1;
}
aside h2 {
    padding-bottom: 15px;
}
aside h3 {
    padding: 15px;
}
aside img {
    width: 150px;
    height: 150px;
}
aside li a {
    color: black;
}
footer {
    position: relative;
    height: 80px;
    margin-top: -200px;
    clear: both;
    background-color: #24252A;
}
footer p {
    color: white;
    text-align: center;
    font-family: "montserrat", sans-serif;
    padding-top: 30px;
    margin
}

:focus {
    outline: none;
}
.col-3{

    float: inline-start;
    width: 70%;
    margin: 40px 3%;
    position: relative;
}
input[type="text"]{
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.effect-1{
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}
.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399ff;
    transition: 0.4s;
}
.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
}
input{
    text-align: center;
}
.radio{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color:black;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-left: 180px;
}

.radio + .radio{
    margin-left: 100px;
}
.radio input[type="radio"]{
    display: none;
}

.radio span{
     height: 15px;
     width: 15px;
     border-radius: 50%;
     border: 3px solid black;
     display: block;
     position: absolute;
     left: 0;
     top: 0px;
}
.radio span::after{
    content: " ";
    height: 8px;
    width: 8px;
    background: black;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span::after{
    transform: translate(-50%,-50%) scale(1);
}